<template>
  <div class="login">
    <!-- <v-container fluid fill-height> -->
    <!-- <v-layout align-center justify-center> -->

    <form @submit.prevent="login">
      <div class="limiter">
        <div class="container-login100">
          <div class="wrap-login100">
            <div class="login100-pic">
              <img src="img/baner.png" alt="IMG" />
            </div>
            <div class="login100-form">
              <h1
                class="title has-text-centered has-text-weight-bold is-family-primary"
              >
                <i class="fa fa-store-alt"></i>
                ARXAYIRI
              </h1>
              <div class="owl">
                <div :class="owl_hide ? 'hand password' : 'hand'"></div>
                <div
                  :class="owl_hide ? 'hand hand-r password' : 'hand hand-r'"
                ></div>
                <div class="arms">
                  <div :class="owl_hide ? 'arm password' : 'arm'"></div>
                  <div
                    :class="owl_hide ? 'arm arm-r password' : 'arm arm-r'"
                  ></div>
                </div>
              </div>
              <!-- <div class="field">
                            <div class="control">
                                <input class="input is-medium is-rounded" type="email" placeholder="USUARIO" autocomplete="username" required />
                            </div>
                            </div> -->
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input
                    class="input"
                    v-model="username"
                    placeholder="Usuario"
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                  <!-- <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span> -->
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input
                    class="input"
                    v-model="password"
                    type="password"
                    placeholder="Password"
                    @focus="owl_hide = true"
                    @blur="owl_hide = false"
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>

              <button
                class="button is-block is-fullwidth is-success is-medium is-rounded"
                type="submit"
              >
                INICIAR SESION
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- </v-layout> -->
    <!-- </v-container> -->
  </div>
</template>
<script>
export default {
  data () {
    return {
      owl_hide: false,
      username: "",
      password: ""
    }
  },
  methods: {
    login () {
      console.log("enviando datos auth")
      const username = this.username
      const password = this.password
      this.$store
        .dispatch("auth/login", { username, password })
        .then(() => {
          console.log("autenticado")
          this.$router.push("/")
        })
        .catch((err) => {
          // eslint-disable-next-line no-undef
          iziToast.info({
            title: "Credenciales no validas",
            message: "Verifique si sus credenciales son correctas",
            position: "topRight" // bottomRight, bottomLeft, topRight, topLeft, topCenter, bottomCenter
          })
          console.log(err)
        })
    }
  }
}
</script>
