
$blue: #337ab7;
// $blue: #0c3f60;
$green: #41c157;
// $background: #fff;
// $grey-darker: #808080;
$table-head-background-color: #5d6975;
$panel-block-hover-background-color: #fff;
// $panel-heading-background-color:#fff;
$input-background-color: #f9f9f9;
$panel-heading-size: 1.1em;
$label-weight:400;
$navbar-height: 3.50rem;
$navbar-breakpoint: 360px;
@import "~bulma/bulma.sass";
@import "./template.scss";
@import "./login.css";
@import '~izitoast/dist/css/iziToast.css';
.iziToast-wrapper-topRight {
    top: 50px;
    right: 0;
    text-align: right;
}
// @import '~vue-multiselect/dist/vue-multiselect.min.css';
@import './miltiselec.scss';
@import "~vue-directive-tooltip/dist/vueDirectiveTooltip.css";
// @import '~vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css'; //buenos estilos pero es pesado
// @import '~flatpickr/dist/flatpickr.css';
// css/lightpick.css
@import '~@mathieustan/vue-datepicker/dist/vue-datepicker.min.css';

$grey-darker: #808080;
$white:    #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$button-default-background-color: $gray-600 !default;
$button-default-color: $white !default;
$button-default-border-color: #ddd !default;

.is-background-white{
    background: #fff;
}
.is-background-blue-dark{
    background: #0c3f60;
    color: #fff;
}

.is-background-blue{
    background: $blue;
    color: #fff;
}
// no padding
.no-padding{
    padding-top: 1 !important;
    padding-bottom: 0 !important;
}

// Button color variations
.is-darker {
background-color: $button-default-background-color !important;
border-color: $button-default-border-color !important;
color: $button-default-color !important;

&:hover,
&:active,
&.hover {
    background-color: darken($button-default-background-color, 5%) !important;
    color: darken($button-default-color, 10%) !important;
}
}
.vue-tooltip.tooltip-custom {
    background-color: $gray-600;
    font-size: 12px;
}

.vue-tooltip.tooltip-custom .tooltip-arrow {
    border-color: $gray-600;
}
//input global
input:hover{
    background: #fff;
}

input:focus{
    background: #fff;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}


.transparent_btn {
    display: inline-block;
	padding: 3px 10px;
	color: #FFF;
    border: 1px solid #FFF;
	text-decoration: none;
	font-size: 16px;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background-color 300ms ease;
	-moz-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	cursor: pointer;
}
.transparent_btn:hover {
	background-color: rgba(255,255,255, 0.3);
	color: #FFF;
}
/* Orange Button */
.transparent_btn.orange {
	color: transparent;
	border-color: transparent;
}
.transparent_btn.orange:hover {
	background-color: rgba(255, 198, 93, 0.3);
}

/* Red Button */
.transparent_btn.red {
	color:transparent;
	border-color:transparent;
}
.transparent_btn.red:hover {
	background-color: rgba(255, 117, 93, 0.3);
}

/* Blue Button */
.transparent_btn.blue {
	color: transparent;
	border-color: transparent;
}
.transparent_btn.blue:hover {
	background-color: rgba(174, 221, 245, 0.3);
}

/* Green Button */
.transparent_btn.green {
	color: transparent;
	border-color: transparent;
}
.transparent_btn.green:hover {
	background-color: rgba(134, 236, 147, 0.3);
}

.icon-nav {
    align-self: center;
    // padding-top: 5px;
    // background: chartreuse;
    padding-right: 10px;
}
// /* Orange Button */
// .transparent_btn.orange {
// 	color: #ffc65d;
// 	border-color: #ffc65d;
// }
// .transparent_btn.orange:hover {
// 	background-color: rgba(255, 198, 93, 0.3);
// }

// /* Orange Button */
// .transparent_btn.red {
// 	color: #cf1957;
// 	border-color: #cf1957;
// }
// .transparent_btn.red:hover {
// 	background-color: rgba(255, 117, 93, 0.3);
// }

// /* Blue Button */
// .transparent_btn.blue {
// 	color: #aeddf5;
// 	border-color: #aeddf5;
// }
// .transparent_btn.blue:hover {
// 	background-color: rgba(174, 221, 245, 0.3);
// }

// /* Green Button */
// .transparent_btn.green {
// 	color: #86ec93;
// 	border-color: #86ec93;
// }
// .transparent_btn.green:hover {
// 	background-color: rgba(134, 236, 147, 0.3);
// }
