.main-siderbar {

    margin-top: 56px;
    padding: 0;
    display: flex;
    height: 100vh - 6.7vh;

  }

  .sombra{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
  }
  .elevation-1{
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
  }
  .elevation-2{
  /* Shadow 2dp */
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
  }
  .elevation-3{
  /* Shadow 3dp */
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
  }
  .elevation-4{
  /* Shadow 4dp */
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
  }
  .elevation-6{
  /* Shadow 6dp */
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
  }
  .elevation-8{
  /* Shadow 8dp */
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
  }
  .elevation-9{
  /* Shadow 9dp */
  box-shadow: 0 9px 12px 1px rgba(0,0,0,0.14), 0 3px 16px 2px rgba(0,0,0,0.12), 0 5px 6px -3px rgba(0,0,0,0.20);
  }
  .elevation-12{
  /* Shadow 12dp */
  box-shadow: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20);
  }
  .elevation-16{
  /* Shadow 16dp */
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.20);
  }
  .elevation-24{
  /* Shadow 24dp */
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);
  }

  .main-siderbar .sidebar-menu{
    width: 250px;
    height: 100%;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    overflow-x: hidden;
    transition: 0.3s;
    background: #343a40;

  }
  .sidebar-menu .profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(133, 133, 133);
    margin-left: 10px;
    margin-right: 10px;
  }

   .sidebar-menu .profile img{
    margin: 20px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

   .sidebar-menu .profile p{
    color: #bbb;
    font-weight: 700;
    margin-bottom: 10px;
  }

   .sidebar-menu .item{
    width: 250px;
    padding-left: 7px;
    padding-right: 10px;
    overflow: hidden;
    margin: 0;
  }

  .sidebar-menu .item .menu-btn{
    display: flex;
    flex-wrap: nowrap;

    // color: rgba(255, 255, 255, 0.658);
    color: rgba(255, 255, 255, 0.555);
    // color: #6f788c;
    align-items: stretch;
    position: relative;
    padding: 8px 16px;
    border: 1px solid #343a40;
    margin-top: 2px;
    transition: 0.3s;
    transition-property: color;
    -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-transition: background-color 300ms ease;
      -moz-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    opacity: 1
  }


  .sidebar-menu .item .menu-btn:hover{
    color: #fff;
    background-color: #484e54;
    border: 1px solid #484e54;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-transition: background-color 300ms ease;
      -moz-transition: background-color 300ms ease;
      transition: background-color 300ms ease;
      cursor: pointer;

  }

  .sidebar-menu .item .menu-btn.is-active{
    color:#fff;
    // color:#92bfdd;

    background-color: #484e54;
    // color: #FFF;
    border: 1px solid #484e54;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-transition: background-color 300ms ease;
      -moz-transition: background-color 300ms ease;
      transition: background-color 300ms ease;
      cursor: pointer;

  }

  .sidebar-menu .item .menu-btn i{
    align-self: center;
    width: 40px;
  }

  .sidebar-menu .item .menu-btn p{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .sidebar-menu .item .menu-btn p span{

    align-self: right;

  }

  /* aqui estilo de los items*/

  // collpase sidebar

  .main-siderbar.collapse .sidebar-menu{
    width: 70px;
    transition: 0.5s;

  }

  .main-siderbar.collapse .sidebar-menu .profile img{
    width: 40px;
    height: 40px;
  }
  .main-siderbar.collapse .sidebar-menu .profile p,
  .main-siderbar.collapse .sidebar-menu a span{
    display: none;
  }
  .main-siderbar.collapse .sidebar-menu .item .menu-btn p{

    display: none;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    transition: 0.5s;
  }

  .main-siderbar.collapse  .sidebar-menu .item .menu-btn{
    font-size: 18px ;
    width: 52px;
    // text-indent: -9999px; texto invisible
  }

  .main-siderbar.collapse .sidebar-menu .item .sub-menu i{
    font-size: 18px;
    padding-left: 3px;
  }

  .main-siderbar.collapse .main-container{
    width: calc(100% - 66px);
    margin-left: 66px;
    transition: 0.5s;
  }




  /* fin de esitlos */
  .main-container{
    margin-left: 256px;
    width: calc(100% - 256px);
    padding: 10px;
    background: #f8f8f8 !important;
  }

  body{
    background: #f8f8f8 !important;
  }

  html{
    background: #f8f8f8;
  }

  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  @-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  @-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
  }
