<template>
  <div class="container is-max-widescreen">
    <div class="columns">
      <div class="column is-one-third">
        <div class="select">
          <select>
            <option>Ver Activos</option>
            <option>Ver Eliminados</option>
          </select>
        </div>
      </div>
      <div class="column is-one-third"></div>
      <div class="column is-one-third">
        <div class="field is-grouped">
          <p class="control is-expanded">
            <input class="input" type="text" placeholder="Buscar" />
          </p>
          <p class="control">
            <button
              class="button is-info"
              @click="$router.push('/note/0/edit')"
            >
              <span>Nuevo Nota</span>
              <span class="icon">
                <i class="fas fa-plus-circle"></i>
              </span>
            </button>
          </p>
        </div>
      </div>
    </div>

    <table class="table is-striped is-fullwidth">
      <thead>
        <th></th>
        <th class="has-text-white">Nota #</th>
        <th class="has-text-white">Cliente</th>
        <th class="has-text-white">Fecha</th>
        <th class="has-text-white">Monto</th>
        <!-- <th class="has-text-white" >Balance</th> -->
        <th class="has-text-white">Estado</th>
        <th style="min-width: 115px"></th>
      </thead>
      <tbody v-if="notes">
        <tr
          v-for="(note, index) in notes.data"
          :key="index"
          @mouseover="show(note, index)"
          @mouseleave="hide(note, index)"
        >
          <td></td>
          <td>
            <a @click="$router.push(`/note/${note.invoice_number}/edit`)">{{ note.invoice_number }}</a>
          </td>
          <td>
            <a>{{ note.client.name }}</a>
          </td>
          <td>{{ formatDate(note.created_at) }}</td>
          <td class="has-text-right">{{ note.amount || "0" }}</td>
          <!-- <td>{{note.balance}}</td> -->
          <td>{{ note.invoice_status.name || "" }}</td>
          <td style="padding: 2px 12px">
            <div
              :class="toogle_option ? 'dropdown is-active' : 'dropdown'"
              v-if="note.option"
              @click="toogle_option = !toogle_option"
              @mouseleave="toogle_option = false"
            >
              <div class="dropdown-trigger">
                <button
                  class="button is-small"
                  aria-haspopup="true"
                  aria-controls="dropdown-menu3"
                >
                  <span> Opciones </span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                <div class="dropdown-content">
                  <a class="dropdown-item" @click="$router.push(`/note/${note.invoice_number}/edit`)"> Ver </a>
                  <!-- <hr class="dropdown-divider" /> -->
                  <!-- <a class="dropdown-item"  @click="$router.push(`/note/${note.invoice_number}c/edit`)"> Clonar Nota </a> -->
                  <hr class="dropdown-divider" />
                  <a class="dropdown-item"> Ingresar Pago </a>
                  <hr class="dropdown-divider" />
                  <a class="dropdown-item"> Eliminar </a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <nav
      class="pagination is-small"
      role="navigation"
      aria-label="pagination"
      v-if="notes"
    >
      <a
        class="pagination-previous"
        @click="paginate(notes.prev_page_url)"
        :disabled="!notes.prev_page_url"
        >Anterior</a
      >
      <a
        class="pagination-next"
        @click="paginate(notes.next_page_url)"
        :disabled="!notes.next_page_url"
        >Siguiente</a
      >

      <div
        :class="toogle_dropdown ? 'dropdown is-active' : 'dropdown'"
        @click="toogle_dropdown = !toogle_dropdown"
      >
        <div class="dropdown-trigger">
          <button
            class="button is-small"
            aria-haspopup="true"
            aria-controls="dropdown-menu3"
          >
            <span>Ver {{ row }} filas</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
          <div class="dropdown-content">
            <a
              class="dropdown-item"
              v-for="(item, i) in rows"
              :key="i"
              @click="row = item"
            >
              {{ item }}
            </a>
          </div>
        </div>
      </div>

      <ul class="pagination-list">
        <li v-for="(link, index) in notes.links" :key="index">
          <a
            :class="
              link.active ? 'pagination-link is-current' : 'pagination-link'
            "
            aria-label="Goto page 1"
            @click="paginate(link.url)"
            v-if="link.label != 'Previous' && link.label != 'Next'"
            >{{ link.label }}</a
          >
        </li>
      </ul>
    </nav>
  </div>
</template>
<script>
import { mapState } from "vuex"
import { mixin } from "./../../helpers/mixins"
export default {
  mixins: [mixin],
  data: () => ({
    notes: null,
    rows: [10, 20, 30, 40, 100],
    row: 10,
    toogle_dropdown: false,
    toogle_option: false
  }),
  mounted () {
    this.search()
  },
  computed: {
    ...mapState({
      branch: state => state.auth.branch
    })
  },
  watch: {
    branch () {
      this.search()
    }
  },
  methods: {

    show (object, index) {
      // eslint-disable-next-line no-undef
      const obj = _.cloneDeep(object)
      obj.option = true
      this.$set(this.notes.data, index, obj)
    },
    hide (object, index) {
      // console.log('leave',index)
      // eslint-disable-next-line no-undef
      const obj = _.cloneDeep(object)
      obj.option = false
      this.$set(this.notes.data, index, obj)
    },
    search () {
      // eslint-disable-next-line no-undef
      axios.get(`api/auth/note`).then((response) => {
        console.log(response.data)
        this.notes = response.data.notes
        this.notes.data.forEach((element) => {
          element.option = false
          return element
        })
      })
    },
    paginate (url) {
      if (url) {
        // eslint-disable-next-line no-undef
        axios.get(url).then((response) => {
          this.notes = response.data.notes
        })
      }
    }
  }
}
</script>
