/* eslint-disable no-undef */
<template>
<div>
    <div v-if="$route.meta.requiresAuth">

            <!-- header menu start -->
            <nav class="navbar is-fixed-top is-link elevation-4"  role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="">
                       <p class="title has-text-white"> ARXA<strong class="has-text-primary">YIRI</strong></p>
                    </a>

                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" @click="drawer=!drawer">
                            <i class="fas fa-bars"></i>
                        </a>

                    </div>

                    <div class="navbar-end">

                        <a class="navbar-item" v-if="branches.length === 1">
                             <i class="fas fa-home icon-nav"></i>
                            <p> {{branch.name}} {{branches.length}}</p>
                        </a>
                        <div class="navbar-item has-dropdown is-hoverable" v-else>
                            <a class="navbar-link">
                                <i class="fas fa-home icon-nav"></i>
                                <p> {{branch.name}} </p>
                            </a>

                            <div class="navbar-dropdown">
                                <div v-for="(item,index) in branches" :key="index"  >
                                    <a class="navbar-item"  v-if="item.id!=branch.id" @click="branchUpdate(item)">
                                        {{item.name}}
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                <i class="fas fa-user icon-nav"></i>
                            <p> {{user.first_name}}</p>
                            </a>

                            <div class="navbar-dropdown">
                            <a class="navbar-item">
                                Perfil
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" @click="logout()">
                                Cerra Sesion
                            </a>

                            </div>
                        </div>

                    </div>
                </div>
            </nav>
            <!-- header menu end -->
            <!-- sidebar start -->

            <div :class="drawer?'main-siderbar':'main-siderbar collapse'" >
            <!-- item1 -->
            <aside class="siderbar">

                <ul class="sidebar-menu">
                  <li class="profile">
                      <img :src="`${url_base}/img/logoXD.jpeg`" alt="">
                      <p>{{account.name}}</p>
                  </li>

                  <router-link
                    to="/"
                    v-slot="{ href, navigate}"
                    >
                  <li class="item">
                    <a :class="$route.path==href?'menu-btn is-active':'menu-btn'" :href="href" @click="navigate"> <i class="fas fa-desktop"></i>
                        <p> Inicio <span class="drop-down"></span> </p>
                    </a>
                  </li>
                   </router-link>
                    <router-link
                    to="/client"
                    v-slot="{ href, navigate }"
                    >
                    <li class="item" :href="href" @click="navigate">
                        <a :class="$route.meta.mainRoot==href?'menu-btn is-active':'menu-btn'" > <i class="fas fa-user-circle"></i>
                            <p> Clientes  <span class="drop-down"> </span> </p>
                        </a>
                    </li>
                    </router-link>

                    <router-link
                        to="/product"
                        v-slot="{ href, navigate }"
                        >
                        <li class="item">
                            <a :class="$route.meta.mainRoot==href?'menu-btn is-active':'menu-btn'" :href="href" @click="navigate"> <i class="fas fa-box "></i>
                                <p> Productos <span class="drop-down"> </span> </p>
                            </a>
                        </li>
                    </router-link>

                    <router-link
                    to="/note"
                    v-slot="{ href, navigate }"
                    >
                        <li class="item">
                            <a :class="$route.meta.mainRoot==href?'menu-btn is-active':'menu-btn'" :href="href" @click="navigate"> <i class="fas fa-file-invoice "></i>
                                <p> Notas  <span class="drop-down"> </span> </p>
                            </a>
                        </li>
                    </router-link>

                    <router-link
                    to="/payment"
                    v-slot="{ href, navigate }"
                    >
                    <li class="item" :href="href" @click="navigate">
                        <a :class="$route.meta.mainRoot==href?'menu-btn is-active':'menu-btn'"> <i class="fas fa-cash-register "></i>
                            <p> pagos  <span class="drop-down"> </span> </p>                       </a>
                    </li>
                    </router-link>

                </ul>
            </aside>

            <!-- main container start -->
            <div class="main-container">

                <nav class="breadcrumb is-large" aria-label="breadcrumbs">
                <ul>
                    <li v-for="(bread,index) in $route.meta.breadcrumbs" :key="index" :class="!bread.path?'is-active':''" >
                        <a @click="$router.push(bread.path)" v-if="bread.path">{{bread.name}}</a>
                        <a aria-current="page" v-else>{{ checkEdit(bread.name)}}</a>
                    </li>
                    <!-- Todo: Validar que si existe un id en la route y este es 0 no se llame edit si no nuevo-->
                    <!-- <li class="is-active"><a href="#" aria-current="page">{{ checkEdit($route.name)}}</a></li> -->

                </ul>
                </nav>
                <router-view></router-view>

            </div>
            <!-- main container end -->
        </div>

    </div>
    <div v-else>
        <router-view></router-view>
    </div>

</div>
</template>
<script>
import { mapState } from 'vuex'
import { mixin } from '../helpers/mixins'
export default {
  mixins: [mixin],
  props: {
    source: String
  },
  data: () => ({
    items: [
      { title: 'Dashboard', icon: 'mdi-view-dashboard' },
      { title: 'Photos', icon: 'mdi-image' },
      { title: 'About', icon: 'mdi-help-box' }
    ],
    drawer: true
  }),
  computed: {
    ...mapState({
      user: state => state.auth.user,
      token: state => state.auth.token,
      account: state => state.auth.account,
      branches: state => state.auth.branches,
      branch: state => state.auth.branch
    })
  },
  methods: {
    drawerhide () {
      this.drawer = !this.drawer
    },
    checkEdit (name) {
      let rename = name
      //   if (name === 'Inicio') {
      //     rename = `${name} / ${this.branch.name}`
      //   }
      if (this.$route.params.id) {
        if (this.$route.params.id === '0') {
          rename = "Crear"
        } else {
          rename = ` ${this.$route.params.id}`
        }
      }

      return rename
    },
    logout () {
      this.$store.dispatch('auth/logout')
        .then(() => this.$router.push('/login'))
        .catch(err => console.log(err))
    },
    branchUpdate (branch) {
      this.$store
        // eslint-disable-next-line no-undef
        .dispatch("auth/branch_update", _.cloneDeep(branch))
        .then(() => {
          console.log("actualizado algun evento tendra que lanzar")
        //   this.$router.push("/")
        })
        .catch((err) => {
          // eslint-disable-next-line no-undef
          iziToast.error({
            title: "Error",
            message: `${err}`,
            position: "topRight" // bottomRight, bottomLeft, topRight, topLeft, topCenter, bottomCenter
          })
        //   console.log(err)
        })
    }
  },
  mounted () {
    //   console.log("verificando login")
    // eslint-disable-next-line no-undef
    axios.interceptors.response.use(undefined, (err) => {
      return new Promise((resolve, reject) => {
        // console.log(err.response.status)
        if (err.response.status === 401) {
          // if you ever get an unauthorized, logout the user
          this.$store.dispatch('auth/logout')
            .then(() => this.$router.push('/login'))
            .catch(err => console.log(err))
          // you can also redirect to /login if needed !
        }
        throw err
      })
    })
  },
  created () {
    // eslint-disable-next-line no-undef
    axios.interceptors.response.use(undefined, (err) => {
      return new Promise((resolve, reject) => {
        // console.log(err.response.status)
        if (err.response.status === 401) {
          // if you ever get an unauthorized, logout the user
          this.$store.dispatch('auth/logout')
            .then(() => this.$router.push('/login'))
            .catch(err => console.log(err))
          // you can also redirect to /login if needed !
        }
        throw err
      })
    })
  },
  components: { }
}
</script>
