<template>
    <div class="container is-fullwidth">
        <div class="columns">
            <div class="column">
                <article class="panel ">
                    <p class="panel-heading is-background-blue-dark">
                        <i class="fas fa-home"></i> {{branch.name}}
                    </p>

                    <div class="panel-block">
                        <div class="columns">
                            <div class="column">
                                <h1 class="subtitle">  Total Ingresos </h1>
                                <h2 class="title"> Bs {{ formatNumber(data_branch.amount)}}</h2>
                            </div>
                        </div>
                        <div class="column has-text-right  ">
                                <h3 class="title is-4 has-text-link"> Bs {{ formatNumber(data_branch.amount)}}</h3>
                                 <h5 class="subtitle is-5 has-text-link">  Ultimos 30 dias </h5>
                        </div>

                    </div>

                    </article>
            </div>
            <div class="column">
                <article class="panel ">
                    <p class="panel-heading is-background-blue-dark">
                        <i class="fas fa-home"></i> {{branch.name}}
                    </p>

                    <div class="panel-block">
                        <div class="columns">
                            <div class="column">
                                <h1 class="subtitle">  Ingreso Promedio </h1>
                                <h2 class="title"> Bs {{ formatNumber(data_branch.amount / 30)}}</h2>
                            </div>
                        </div>
                        <div class="column has-text-right  ">
                                <h3 class="title is-4 has-text-link"> Bs {{ formatNumber(data_branch.amount / 30)}}</h3>
                                 <h5 class="subtitle is-5 has-text-link">  Ultimos 30 dias </h5>
                        </div>

                    </div>

                    </article>
            </div>

        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'
import { mixin } from '../helpers/mixins'
export default {
  mixins: [mixin],
  data: () => ({
    data_branch: null
  }),
  mounted () {
    this.getData()
  },
  computed: {
    ...mapState({
      user: state => state.auth.user,
      branch: state => state.auth.branch
    })
  },
  methods: {
    getData () {
      // eslint-disable-next-line no-undef
      axios.get(`/api/auth/dashboard`)
        .then(response => {
          this.data_branch = response.data.notes_view
        })
    }
  },
  watch: {

    branch () {
      this.getData()
    }
  }
}
</script>
