<template>
<div class="container is-max-widescreen" >
    <div class="columns">
    <div class="column is-one-third">
        <div class="select ">
        <select>
            <option>Ver Activos</option>
            <option>Ver Eliminados</option>
        </select>
        </div>
    </div>
    <div class="column is-one-third"></div>
    <div class="column is-one-third">
        <div class="field is-grouped">
            <p class="control is-expanded">
                <input class="input" type="text" placeholder="Buscar">
            </p>
            <p class="control">
                <button class="button is-info" @click="create()">
                    <span>Nueva Categoria</span>
                    <span class="icon">
                    <i class="fas fa-plus-circle"></i>
                    </span>
                </button>
            </p>
        </div>
    </div>

    </div>

    <table class="table is-striped is-fullwidth">
        <thead >
            <th></th>
            <th class="has-text-white">Nombre</th>
            <th class="has-text-white">Descripcion</th>
            <th style="min-width: 124px;"></th>
        </thead>
        <tbody v-if="categories">
            <tr v-for="(category,index) in categories.data" :key="index"  @mouseover="show(category,index)" @mouseleave="hide(category,index)" >
                <td ></td>
                <td  >{{category.name}}</td>
                <td  >{{category.description}}</td>
                <td @mouseleave="toogle_option=false" class="has-text-right no-padding">

                        <a class="transparent_btn blue" data-tooltip="Editar"  @click="edit(category)" v-if="category.option" v-tooltip="{content: 'Editar',class: 'tooltip-custom tooltip-other-custom'}"><i class="fas fa-pen has-text-info"></i></a>

                        <a class="transparent_btn red" v-if="category.option" @click="remove(category)" v-tooltip="{content: 'Eliminar',class: 'tooltip-custom tooltip-other-custom'}"><i class="fas fa-trash has-text-danger" ></i></a>

                </td>
            </tr>
        </tbody>
    </table>
    <nav class="pagination is-small" role="navigation" aria-label="pagination" v-if="categories">
    <a class="pagination-previous" @click="paginate(categories.prev_page_url)" :disabled="!categories.prev_page_url" >Anterior</a>
    <a class="pagination-next"  @click="paginate(categories.next_page_url)" :disabled="!categories.next_page_url">Siguiente</a>

    <div :class="toogle_dropdown?'dropdown is-active':'dropdown'" @click="toogle_dropdown=!toogle_dropdown" >
        <div class="dropdown-trigger">
            <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu3">
            <span>Ver {{row}} filas</span>
            <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
            <a class="dropdown-item" v-for="(item,i) in rows" :key="i" @click="row=item">
                {{item}}
            </a>
            </div>
        </div>
    </div>


    <ul class="pagination-list">
        <li v-for="(link,index) in categories.links" :key="index" >
            <a :class="link.active?'pagination-link is-current':'pagination-link'" aria-label="Goto page 1" @click="paginate(link.url)" v-if="link.label!='Previous'&&link.label!='Next'">{{link.label}}</a>
        </li>

    </ul>
    </nav>
    <!-- aqui modal -->
    <edit-category  :dialog="dialog"  :category="category" @close="close"  @category="saveCategory" ></edit-category>
    <!-- modal delete -->
    <modal-delete @item_delete="search"></modal-delete>
</div>
</template>
<script>
import {mixin} from './../../helpers/mixins';
import EditCategory from './Edit.vue';
import ModalDelete from '../ModalDelete';
export default
{
  mixins:[mixin],
  data: () => ({
    categories:null,
    rows:[10,20,30,40,100],
    row:10,
    toogle_dropdown:false,
    toogle_option:false,
    dialog:false,
    category:{},

  }),
  mounted(){
      this.search();
  },
  methods:{
    show(object,index){
        // console.log('over',index)
        let obj=_.cloneDeep(object);
        obj.option = true;
        this.$set(this.categories.data, index, obj)
    },
    hide(object,index){
        // console.log('leave',index)
        let obj=_.cloneDeep(object);
        obj.option = false;
        this.$set(this.categories.data, index, obj)
    },

    search(){
        axios.get(`${this.url_base}/api/auth/category`)
        .then(response=>{
            console.log(response.data)
            this.categories = response.data.categories
            this.categories.data.forEach(element => {
                    element.option=false
                    return element
            });
        })
    },
    paginate(url)
    {
        if(url){

        axios.get(url)
        .then(response=>{
            this.categories = response.data.categories
        });

        }
    },
    create()
    {
        this.category={id:0};
        this.dialog=true;
    },
    close()
    {
        this.dialog=false;
    },
    saveCategory(item)
    {
        axios.post(`${this.url_base}/api/auth/category`,item)
                .then(response=>{
                        // this.$router.push('/product/category');
                        this.dialog=false;
                        this.search();
                        this.show_message(response.data.type_message,response.data.message);
                    console.log('response',response.data)
                });
        // console.log("crear Categoria");

    },
    edit(item)
    {
        this.category = _.cloneDeep(item);
        this.dialog = true;
    },
    remove(item)
    {
         this.$store.dispatch('template/showMessage',{message:`Desea Eliminar la Categoria ${item.name}`,path:`${url_base}/api/auth/category/${item.id}`})
    },
  },
  components:{
      EditCategory,
      ModalDelete
  }

};
</script>
