<template>
<div class="container is-max-widescreen" >
    <div class="columns">
    <div class="column is-one-third">
        <div class="select ">
        <select>
            <option>Ver Activos</option>
            <option>Ver Eliminados</option>
        </select>
        </div>
    </div>
    <div class="column is-one-third"></div>
    <div class="column is-one-third">
        <div class="field is-grouped">
            <p class="control is-expanded">
                <input class="input" type="text" placeholder="Buscar">
            </p>
            <p class="control">
                <button class="button is-info" @click="create()">
                    <span>Nueva Categoria</span>
                    <span class="icon">
                    <i class="fas fa-plus-circle"></i>
                    </span>
                </button>
            </p>
        </div>
    </div>

    </div>

    <table class="table  is-striped is-fullwidth">
        <thead >
            <th></th>
            <th class="has-text-white">Nombre</th>
            <th class="has-text-white">Abreviación</th>
            <th style="min-width: 124px;"></th>
        </thead>
        <tbody v-if="units">
            <tr v-for="(unit,index) in units.data" :key="index"  @mouseover="show(unit,index)" @mouseleave="hide(unit,index)" >
                <td ></td>
                <td  >{{unit.name}}</td>
                <td  >{{unit.short_name}}</td>

                <td @mouseleave="toogle_option=false" class="has-text-right no-padding">

                        <a class="transparent_btn blue" data-tooltip="Editar"  @click="edit(unit)" v-if="unit.option" v-tooltip="{content: 'Editar',class: 'tooltip-custom tooltip-other-custom'}"><i class="fas fa-pen has-text-info"></i></a>

                        <a class="transparent_btn red" v-if="unit.option" @click="remove(unit)" v-tooltip="{content: 'Eliminar',class: 'tooltip-custom tooltip-other-custom'}"><i class="fas fa-trash has-text-danger" ></i></a>

                </td>
            </tr>
        </tbody>
    </table>
    <nav class="pagination is-small" role="navigation" aria-label="pagination" v-if="units">
    <a class="pagination-previous" @click="paginate(units.prev_page_url)" :disabled="!units.prev_page_url" >Anterior</a>
    <a class="pagination-next"  @click="paginate(units.next_page_url)" :disabled="!units.next_page_url">Siguiente</a>

    <div :class="toogle_dropdown?'dropdown is-active':'dropdown'" @click="toogle_dropdown=!toogle_dropdown" >
        <div class="dropdown-trigger">
            <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu3">
            <span>Ver {{row}} filas</span>
            <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
            <a class="dropdown-item" v-for="(item,i) in rows" :key="i" @click="row=item">
                {{item}}
            </a>
            </div>
        </div>
    </div>


    <ul class="pagination-list">
        <li v-for="(link,index) in units.links" :key="index" >
            <a :class="link.active?'pagination-link is-current':'pagination-link'" aria-label="Goto page 1" @click="paginate(link.url)" v-if="link.label!='Previous'&&link.label!='Next'">{{link.label}}</a>
        </li>

    </ul>
    </nav>
    <unit-edit :dialog="dialog" :unit="unit" @close="close" @unit="save">  </unit-edit>
    <modal-delete @item_delete="search"></modal-delete>
</div>
</template>
<script>
import {mixin} from './../../helpers/mixins';
import UnitEdit from './Edit'
import ModalDelete from '../ModalDelete';
export default
{
  mixins:[mixin],
  data: () => ({
    units:null,
    rows:[10,20,30,40,100],
    row:10,
    toogle_dropdown:false,
    toogle_option:false,
    unit:{id:0},
    dialog:false
  }),
  mounted(){
      this.search();
  },
  methods:{
    show(object,index){
        // console.log('over',index)
        let obj=_.cloneDeep(object);
        obj.option = true;
        this.$set(this.units.data, index, obj)
    },
    hide(object,index){
        // console.log('leave',index)
        let obj=_.cloneDeep(object);
        obj.option = false;
        this.$set(this.units.data, index, obj)
    },

    search(){
        axios.get(`${this.url_base}/api/auth/unit`)
        .then(response=>{
            console.log(response.data)
            this.units = response.data.units
            this.units.data.forEach(element => {
                    element.option=false
                    return element
            });
        })
    },
    paginate(url)
    {
        if(url){

        axios.get(url)
        .then(response=>{
            this.units = response.data.units
        });

        }
    },
    create()
    {
        this.dialog = true;
        this.unit = {id:0};
    },
    close()
    {
        this.dialog=false;
    },
    save(item)
    {
        console.log(item)
        axios.post(`${this.url_base}/api/auth/unit`,item)
                .then(response=>{

                        this.dialog=false;
                        this.search();
                        this.show_message(response.data.type_message,response.data.message);
                    console.log('response',response.data)
                });
        // console.log("crear Categoria");

    },
    edit(item)
    {
        this.unit = _.cloneDeep(item);
        this.dialog = true;
    },
    remove(item)
    {
         this.$store.dispatch('template/showMessage',{message:`Desea Eliminar la Unidad ${item.name}`,path:`${url_base}/api/auth/unit/${item.id}`})
    },
  },
  components:{
      UnitEdit,
      ModalDelete
  }

};
</script>
